/**
 The CSS is written for desktop first. You will find media queries at the bottom of the document for responsive designs for smaller devices.
 */

body {
  margin: 0;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-family: 'Roboto Slab', serif;
}
/* ==========================================================================
  HEADER
   ========================================================================== */
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}
header h2 {
  margin: 0;
  padding-top: 20px;
  color: rgb(255, 120, 58);
}

/* ==========================================================================
  MAIN
   ========================================================================== */

/*Hero section*/

.hero {
  background-image: url('images/hero.jpg');
  width: 100%;
  height: 100%;
  background-position: center;
}

.hero-dark {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.hero-content {
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0 auto;
  width: 1000px;
}
.hero-content button {
  background-color: rgb(255, 120, 58);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
}

.hero-content h1 {
  font-size: 6rem;
  margin: 0;
}

.hero-content p {
  width: 55%;
}

/*Gallery section*/
main h2 {
  text-align: center;
  padding: 20px 0;
}

.img-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  justify-content: center;
}

.image-container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.large-image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  margin: 5px;
}

.small-image {
  width: 240px;
  height: 240px;
  object-fit: cover;
  object-position: center;
}

figure {
  margin: 0;
  display: contents;
}

.dark-mode {
  background-color: rgb(0, 0, 0);
  color: white;
}
.fa-sun {
  color: white;
}

#toggleThemeBtn {
  border: none;
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

/* ==========================================================================
  FOOTER
   ========================================================================== */

footer {
  width: 100%;
  height: 100px;
}

footer p {
  text-align: center;
  padding-top: 70px;
}

/* ==========================================================================
  MEDIA QUERIES
   ========================================================================== */

/* SMALL DESKTOP*/
@media screen and (max-width: 1200px) {
  header {
    width: 900px;
  }
  /*Resize gallery*/
  .img-gallery {
    width: 900px;
  }
  .image-container {
    width: 450px;
    height: 450px;
  }
  .small-image {
    width: 215px;
    height: 215px;
  }

  /*Resize content on hero*/
  .hero-content {
    width: 900px;
  }
  .hero-content p {
    width: 60%;
  }
}

/* LARGE TABLET */
@media screen and (max-width: 1000px) {
  header {
    width: 700px;
  }
  /*Resize gallery*/
  .img-gallery {
    width: 700px;
  }
  .image-container {
    width: 350px;
    height: 350px;
  }
  .small-image {
    width: 165px;
    height: 165px;
  }
  /*Resize content on hero*/
  .hero-content {
    width: 700px;
  }
  .hero-content h1 {
    font-size: 5rem;
  }
  .hero-content p {
    width: 70%;
  }
}

/* TABLET */
@media screen and (max-width: 800px) {
  header {
    width: 500px;
  }
  /*Resize gallery*/
  .img-gallery {
    width: 500px;
  }
  .image-container {
    width: 250px;
    height: 250px;
  }
  .small-image {
    width: 115px;
    height: 115px;
  }
  /*Resize content on hero*/
  .hero-content {
    width: 500px;
  }
  .hero-content h1 {
    font-size: 4rem;
  }
  .hero-content p {
    width: 80%;
  }
}

/* SMALL TABLET */
@media screen and (max-width: 600px) {
  header {
    width: 400px;
  }
  /*Resize gallery*/
  .img-gallery {
    width: 400px;
  }
  .image-container {
    width: 200px;
    height: 200px;
  }
  .small-image {
    width: 90px;
    height: 90px;
  }

  /*Resize content on hero*/
  .hero-content {
    width: 400px;
  }
  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-content p {
    width: 70%;
  }
}

/* MOBILE */
@media screen and (max-width: 450px) {
  header {
    width: 370px;
  }
  /*Resize gallery*/
  .img-gallery {
    width: 370px;
  }
  .image-container {
    width: 180px;
    height: 180px;
  }
  .small-image {
    width: 80px;
    height: 80px;
  }

  /*Resize content on hero*/
  .hero-content {
    width: 370px;
  }
}
